div {
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }

.d2{
    width: 300px;
        border: 15px solid beige;
        padding: 50px;
        margin: 20px;


}      
