.body{    
    width:150%;
    overflow-x: hidden;
 }
.nav-link1{
    color: greenyellow;
    text-decoration: none;
    position: relative;
    top: 8px;
    
}

.menu{
    position: relative;
    left: 150px;
}



//*

.card{
    display: flex;
    margin: 20px;
    
}

.container{
    display:flex;
    
        
}
.honolulu{
    margin: 1px;
}
.texto{
    background-color: grey;
    width: 500px;
    height: 400px;
    color: white;
    font-size: 12px;
    padding: 10px;
    
    
}
.container-fluid{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 350px;
    left: 500px;
    font-size: 14px;
    color: white;
    
}
.centrado{
    position: absolute;
    font-size: 30px;
    top: 300px;
    left: 600px;
    color: white;

}
img{
    opacity: 0.8;
    
}
.menu-confe{
    color: white;
}
.nav-link{
    color: white;
}
.menu{
    position: relative;
    left: 150px;
}
.menu-pie{
    position: relative;
    left: 80px;
}
.sec-formula1{
    position: relative;
    text-align: center;
    }
.sec-formula2{
    position: relative;
    text-align: center;
}
.mb-3{
    position: relative;
    left: 250px; 
    
}
.row{
    position: relative;
    left: 10px;
}
.btn-pr{
    position: relative;
    left: 150px;
    
}
.btn-texto{
    position: relative;
    left: 150px;
}
.btn-form{
    margin: 5px;
    position: relative;
    left: 550px;
    
    
}
**/
