.card{
    display: flex;
    margin: 20px;
    
}
.container{
    display:flex;
            
}
.honolulu{
    margin: 1px;
}
.texto{
    background-color: grey;
    width: 500px;
    height: 400px;
    color: white;
    font-size: 12px;
}
.container-fluid{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 350px;
    left: 500px;
    font-size: 14px;
    color: white;
}
.centrado{
    position: absolute;
    font-size: 30px;
    top: 300px;
    left: 600px;
    color: white;

}
img{
    opacity: 0.8;
    
}
.menu-confe{
    color: white;
}
.nav-link{
    color: white;
    
}
.nav-ticket{
    color: greenyellow;
    text-decoration: none;
    
}
.nav-item1{
    padding-top: 8px;
}
.link-btn{
    color: goldenrod;
    
}
.link{
    padding-top: 6px;
    margin-left: 5px;
}
.menu{
    position: relative;
    left: 85px;
}
.menu-pie{
    position: relative;
    left: 80px;
    padding-top: 1px;
}
.sec-formula1{
    position: relative;
    left: 550px;
    font-size: 14px;
}
.sec-formula2{
    position: relative;
    left: 570px;
}
.mb-3{
    position: relative;
    left: 250px; 
    
}
.row{
    position: relative;
    left: 10px;
}
.btn-pr{
    position: relative;
    left: 150px;
}
.btn-texto{
    position: relative;
    left: 150px;
}
.btn-form{
    margin: 5px;
    position: relative;
    left: 400px;
    
}
.col1{
    background-color: blanchedalmond;
        
    
}
.col2{
    background-color: blueviolet;
    
    
}
.col3{
    background-color: blanchedalmond;
    
    
}
.titulo-t{
    text-align: center;
}
.container-md{
     
    padding-top: 15px;
    text-align: center;
    font-size:large; 

}
.col-1{
    margin: 10px;
    
}
.col-2{
    margin: 10px;
    margin-left: 150px;
}
.col-3{
    margin-top: 5px;
    
}
.formu{
    align-content: center;
    padding-left: 10px;
}
.tpagar{
    background-color: rgb(183, 245, 245);
}
.input-group-text{
    position: relative;
    top: -45px;

}
.custom-select{
    position: relative;
    top: -45px;
    
}